*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border:1px solid red; */
}
.header h1{
    margin-top:50px;
    margin-left:100px;
}
.header p{
    margin-left:100px;
    font-size:20px;
    margin-bottom:20px;
    margin-bottom:50px;
}
.content{
    background:url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.content-body{
    display: flex;
    background:rgba(255, 68, 0, 0.726);
}
.form1{
    width:400px;
    margin-left:100px;
    margin-top:50px;
}
.form-group i{
    position:absolute;
    margin-top: 20px;
}
.brand h1{
    font-size:15px;
}
.brand img{
    height:60px;
    width:100px;
    border-radius:20px;
    margin-bottom:20px;

}
.form2{
    width:600px;
    margin-left:200px;
    background-color: rgb(253, 255, 255);
    border-radius:5px;
    margin-top:-100px;
    margin-bottom:90px;
    box-shadow:5px 5px 10px 1px;
}
.form2 h1{
    font-size:20px;
    margin-top:20px;
}
.form2 .btn{
    width:100%;
    margin-bottom:40px;
}
.form2 input{
    margin-top:20px;
}
.form-check-label{
    margin-top:15px;
}











@media only screen and (max-width: 768px) {
       .header{
        width:100%;
       }
       .header h1{
         margin-left:15px;
       }
       .header p{
        margin-left:15px;
        font-size:20px;
        margin-bottom:10px;
      }
	   .content-body{
        display: block;
       }
       .form1{
        margin-left:0px;
        width:100%;
       }
       .brand img{
        height:60px;
        width:150px;
       }
       .form2{
        margin-left:10px;
        margin-top:30px;
        width:95%;
        margin-bottom:10px;
        box-shadow:0px 0px 0px 0px;
       }

}
@media only screen and (max-width:480px) {
    .brand img{
        height:80px;
        width:80%; 
        margin-left:25px;
}
}
